a {
  background: linear-gradient(180deg, #68aef9, #0056b3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/*整个页面的背景渐变 */
body {
  background: linear-gradient(235deg, #e1d6ff, #b7d9fd);
}

body> * {
  cursor: pointer;
}

.index-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: nowrap;
}

.index-span {
  font-size: 46px;
}

.index-h1 {
    /* 渐变字体 */
    background: linear-gradient(90deg, #007bff, #0056b3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.index-p {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.index-p strong {
  background: linear-gradient(180deg, #86baf3, #efa9f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-weight: bold;
}

/* 所有section下的h2 */
section h2 {
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #649edb, #efa9f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section table thead tr th {
  background: linear-gradient(90deg, #649edb, #efa9f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: 1px solid #737373;
}

section table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}

section table th,
section table td {
  padding: 20px;
}

section table tbody tr td {
  border: 1px solid #737373;
}

.one-section-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.one-section-1 pre {
  font-size: 20px;
  background: linear-gradient(10deg, #2d92fe, #e600ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p > strong {
  background: linear-gradient(180deg, #55a7ff, #f067ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
}